.spot-details{
  padding-bottom: 40px;
}
.title{
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 40px;
}

#visual{
  width:50%;
  float:left;
}

img{
  display: block;
  margin:auto;
}

#data{
  width:50%;
  float:left;
}

#clear{
  clear:both;
}
