.spot-details{
  padding-bottom: 40px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

#title, #home_but{
  width: 48%;
}

#h_button{
  display: block;
  margin:auto;
}

#outline{
  display: flex;
  justify-content: space-between;
}

#visual, #data{
  width:48%;
}

#loc_img{
  width: 100%;
  height: 284px;
}

ul{
  list-style: none;
  height: 100%;
  display: table;
  padding-left: 6%;
}

li{
  font-size: 2em;
  font-weight: bold;
  display: table-row;
}



