.home_header{
    padding-top: 5%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.intro{
    padding-bottom: 5%;
}

.button-container{
    padding-bottom: 5%;
    
}
