.success{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30%;
}

.returnHome{
    padding-top: 5%;
}

#buttonColor{
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
}