#reviewItem {
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #94A3B8;
}

#rate{
  display: flex;
}

#rate{
  padding-top: 3%;
  padding-bottom: 2%;
}

.bold{
  font-weight: bold;
  padding-right:1%;
}

  