#crBody{
  padding-top: 5%;
}

.checkreviews-header{
  padding-bottom:3%;
}

#spotinfo{
  padding-bottom: 3%;
  padding-top: 3%;
}

.checkreviews-error-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ef4444;
}

#reviewsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 3%;
}

.checkreviews-modal {
  position: absolute;
  top: 40%;
  z-index: 1000;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create-actions {
  display: flex;
  gap: 10px;
}

.user-input {
  width: 100%;
  padding: 5px;
}

#add-rev {
  padding-bottom: 3%;
}

.vr-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}