.rooms-error-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #EF4444;
}
  
.createreview-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
}
  
.rooms-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.create-modal {
  position: absolute;
  top: 40%;
  z-index: 1000;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
  
.create-actions {
  display: flex;
  gap: 10px;
}
  
.user-input {
  width: 100%;
  padding: 5px;
}



textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.submit-button {
  min-width: 100px;
  max-width: 500px;
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

input[type=submit]:hover {
  background-color: #45a049;
}